{#Index.html.twig#}

{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container mt-4 d-flex justify-content-evenly"> 
{% for item in vehicules %}
<div class="card text-white border-light mb-3 mr-4 "
style="max-width: 20rem; min-width: 20rem;">
  <div class="card-header text-center"> {{ item.titre }} </div>
  <div class="card-body text-center">
    <h4 class="card-title"> {{ item.marque }} / {{ item.modele }}</h4>
    <img class="text-center" src="{{ item.photo }}" alt="" width="200px">
    <p class="card-text"> {{ item.description }} </p>
    <hr>
    <p>Prix Journalier : {{ item.prixjournalier }} €</p>

    <a href="{{path('app_vroum_commander', {id: item.id})}}" class="btn btn-success"> Commander</a>
  </div>
</div>
{% endfor %}
</div>


{% endblock %}

