{% extends "base.html.twig" %}

{% block title %}
BackOffice
{% endblock %}

{% block body %}

<h1>
    BACKOFFICE | Membres
</h1>

<table class="table table-striped table-hover table-dark text-center">
    <thead class="table-secondary">
        <tr>
            {% for colonne in colonnes %}
                {% if colonne != 'roles' and colonne != 'password' %}
                
                
                <th style="max-width:10vw;">{{ colonne }}</th>
                {% endif %}

            {% endfor %}
            <th style="max-width:10vw;">Option</th>
            
        </tr>
    </thead>
    <tbody>
    {% for membre in membres %}
        <tr>
            <td>{{ membre.id }}</td>
            <td>{{ membre.pseudo }}</td>
            {# <td>{{ membre.roles}}</td> #}
            {# <td>{{ membre.password}}</td> #}
            <td>{{ membre.nom}}</td>
            <td>{{ membre.prenom}}</td>
            <td>{{ membre.email}}</td>

            <td>{{ membre.dateEnregistrement| date("d/m/Y à H:i:s")}}</td>
            <td>{{ membre.civilite}}</td>
            <td>
                <a href="{{path('admin_show_membre', {id: membre.id}) }}" class="text-success me-3"><i class='fas fa-glasses'></i></a>
                <a href="{{ path('admin_edit_membre',{id: membre.id}) }}" class="text-light  me-3"><i class="fas fa-edit"></i></a>
                <a onclick="return confirm('voulez-vous supprimer ce membre?')" href="{{ path('admin_delete_membre',{id: membre.id}) }}" class="text-danger"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>




{{form_start(formMembre, {
    attr: {
        novalidate: 'novalidate'
    }
})}}

{{ form_row(formMembre.pseudo) }}
{# {{ form_row(formMembre.roles) }} #}
{{ form_row(formMembre.plainPassword) }}
{{ form_row(formMembre.nom)}}
{{ form_row(formMembre.prenom) }}
{{ form_row(formMembre.email)}}
{{ form_row(formMembre.civilite)}}


{{ form_row(formMembre.roles)}}




<button type="submit" class="btn btn-success mt-2">
{% if editMode %}
    Enregistrer les modifications
{% else %}
    Ajouter le membre
{% endif %}
</button>
{{form_end(formMembre)}}
{% endblock %}