{% extends "base.html.twig" %}

{% block title %}
BackOffice
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center">{{ message }}</div>
{% endfor %}
<table class="table table-bordered text-center">
    <thead>
        <tr>
            {% for colonne in colonnes %}
                <th>{{ colonne }}</th>
            {% endfor %}
            <th>Editer</th>
            <th>Suprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for vehicule in vehicules %}
        <tr>
            <td>{{ vehicule.id }}</td>
            <td>{{ vehicule.titre}}</td>
            <td>{{ vehicule.marque}}</td>
            <td>{{ vehicule.modele}}</td>
            <td>{{ vehicule.description}}</td>
            <td><img src="{{ vehicule.photo }}" style="width: 150px;" alt=""></td>
            <td>{{ vehicule.prixJournalier}}</td>
            <td>{{ vehicule.dateEnregistrement|date('d/m/Y à H:i:s') }}</td>
            <td><a href="{{ path('admin_edit_vehicule',{id: vehicule.id}) }}" class="text-dark"><i class="fas fa-edit"></i></a></td>
            <td><a onclick="return confirm('voulez-vous supprimer cet vehicule ?')" href="{{ path('admin_delete_vehicule',{id: vehicule.id}) }}" class="text-dark"><i class="fas fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{form_start(formVehicule, {
    attr: {
        novalidate: 'novalidate'
    }
})}}

{{form_row(formVehicule.titre)}}
{{form_row(formVehicule.marque)}}
{{form_row(formVehicule.modele)}}
{{form_row(formVehicule.description)}}
{{form_row(formVehicule.photo)}}
{{form_row(formVehicule.prix_journalier)}}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
    Enregistrer les modifications
{% else %}
    Ajouter le vehicule
{% endif %}
</button>

{{form_end(formVehicule)}}


{% endblock %}