{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
<h1>Le véhicule d'id : {{ vehicule.id }}</h1>
<div class="card border-info mx-auto mb-5" style="max-width: 60vw;">
            <div class="card-header"> <h3>{{vehicule.titre}}</h3></div>
            <div class="card-body">
                <h4 class="card-title">{{vehicule.marque}} / {{vehicule.modele}}</h4>
                <p class="card-text container">
                <div class="row">
                    <div class="col-6 mx-auto text-center"><img src="{{vehicule.photo}}" width="80%"></div>
                    <div class="col-6 ">
                    <h6 class="card-subtitle">Description : </h6>
                    <br>
                    {{ vehicule.description}}</div>            
                </div></p>
                
            </div>
            <div class="container">
                <div class="row">
                <div class="col-10"></div>
                    <h5 class="col-2">Prix/jour : {{ vehicule.prixjournalier}}€</h5>
                </div>
            </div>
        </div>
{% endblock %}